@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/**
* get random number.
* @param {number} min - min number.
* @param {number} max - max number.
*/
/*
* variable
*/
html, body {
  height: 100vh;
  width: 100vw; }

body {
  font-family: 'Montserrat', sans-serif;
  background: #FFF;
  position: relative;
  overflow: hidden;
  font-size: 100%;
  text-align: center; }

.criterion {
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  transform: translate(-20 px, -20 px); }

/*
* background
*/
.background {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0;
  animation: background-animation 2s ease-in-out 4s 1 normal forwards; }

.background0 {
  left: 0%;
  height: 100vh;
  background-color: #eb4747; }

.background1 {
  left: 12.5%;
  height: 100vh;
  background-color: #ebc247; }

.background2 {
  left: 25%;
  height: 100vh;
  background-color: #99eb47; }

.background3 {
  left: 37.5%;
  height: 100vh;
  background-color: #47eb70; }

.background4 {
  left: 50%;
  height: 100vh;
  background-color: #47ebeb; }

.background5 {
  left: 62.5%;
  height: 100vh;
  background-color: #4770eb; }

.background6 {
  left: 75%;
  height: 100vh;
  background-color: #9947eb; }

.background7 {
  left: 87.5%;
  height: 100vh;
  background-color: #eb47c2; }

@keyframes background-animation {
  0% {
    width: 0; }
  50% {
    width: 12.5%;
    opacity: 1; }
  100% {
    opacity: 0;
    width: 25%; } }
/*
* text
*/
.text {
  position: absolute;
  width: 40 px;
  line-height: 40 px;
  opacity: 0;
  overflow: hidden; }
  .text::after {
    z-index: -1;
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 40 px; }

.text0 {
  left: -140 px;
  top: 0;
  animation: text-animation0 1s ease-in-out 1s ms 1 normal forwards, text2-animation0 2s ease-in-out 5s 1 normal forwards; }
  .text0::after {
    animation: text-after-animation0 2s ease-in-out 3s 1 normal forwards; }

.text1 {
  left: -100 px;
  top: 0;
  animation: text-animation1 1s ease-in-out 201s ms 1 normal forwards, text2-animation1 2s ease-in-out 5s 1 normal forwards; }
  .text1::after {
    animation: text-after-animation1 2s ease-in-out 3s 1 normal forwards; }

.text2 {
  left: -60 px;
  top: 0;
  animation: text-animation2 1s ease-in-out 401s ms 1 normal forwards, text2-animation2 2s ease-in-out 5s 1 normal forwards; }
  .text2::after {
    animation: text-after-animation2 2s ease-in-out 3s 1 normal forwards; }

.text3 {
  left: -20 px;
  top: 0;
  animation: text-animation3 1s ease-in-out 601s ms 1 normal forwards, text2-animation3 2s ease-in-out 5s 1 normal forwards; }
  .text3::after {
    animation: text-after-animation3 2s ease-in-out 3s 1 normal forwards; }

.text4 {
  left: 20 px;
  top: 0;
  animation: text-animation4 1s ease-in-out 801s ms 1 normal forwards, text2-animation4 2s ease-in-out 5s 1 normal forwards; }
  .text4::after {
    animation: text-after-animation4 2s ease-in-out 3s 1 normal forwards; }

.text5 {
  left: 60 px;
  top: 0;
  animation: text-animation5 1s ease-in-out 1001s ms 1 normal forwards, text2-animation5 2s ease-in-out 5s 1 normal forwards; }
  .text5::after {
    animation: text-after-animation5 2s ease-in-out 3s 1 normal forwards; }

.text6 {
  left: 100 px;
  top: 0;
  animation: text-animation6 1s ease-in-out 1201s ms 1 normal forwards, text2-animation6 2s ease-in-out 5s 1 normal forwards; }
  .text6::after {
    animation: text-after-animation6 2s ease-in-out 3s 1 normal forwards; }

.text7 {
  left: 140 px;
  top: 0;
  animation: text-animation7 1s ease-in-out 1401s ms 1 normal forwards, text2-animation7 2s ease-in-out 5s 1 normal forwards; }
  .text7::after {
    animation: text-after-animation7 2s ease-in-out 3s 1 normal forwards; }

@keyframes text-animation0 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation1 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation2 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation3 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation4 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation5 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation6 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-animation7 {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  50% {
    transform: scale(3, 3); }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
@keyframes text-after-animation0 {
  0% {
    width: 0px;
    background-color: #eb4747;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation1 {
  0% {
    width: 0px;
    background-color: #ebc247;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation2 {
  0% {
    width: 0px;
    background-color: #99eb47;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation3 {
  0% {
    width: 0px;
    background-color: #47eb70;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation4 {
  0% {
    width: 0px;
    background-color: #47ebeb;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation5 {
  0% {
    width: 0px;
    background-color: #4770eb;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation6 {
  0% {
    width: 0px;
    background-color: #9947eb;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text-after-animation7 {
  0% {
    width: 0px;
    background-color: #eb47c2;
    opacity: 1; }
  50% {
    width: 40 px;
    opacity: 1; }
  100% {
    left: 40 px;
    opacity: 0; } }
@keyframes text2-animation0 {
  0% {
    left: -140 px;
    opacity: 1; }
  50% {
    left: -100 px;
    opacity: 0; }
  100% {
    left: 0; } }
@keyframes text2-animation1 {
  0% {
    left: -100 px;
    opacity: 1; }
  50% {
    left: -60 px;
    opacity: 0; }
  100% {
    left: 0; } }
@keyframes text2-animation2 {
  0% {
    left: -60 px;
    opacity: 1; }
  50% {
    left: -20 px;
    opacity: 0; }
  100% {
    left: 0; } }
@keyframes text2-animation3 {
  0% {
    left: -20 px;
    opacity: 1; }
  50% {
    left: 20 px;
    opacity: 0; }
  100% {
    left: 0; } }
@keyframes text2-animation4 {
  0% {
    left: 20 px;
    opacity: 1; }
  50% {
    left: 60 px;
    opacity: 0; }
  100% {
    left: 0; } }
@keyframes text2-animation5 {
  0% {
    left: 60 px;
    opacity: 1; }
  50% {
    left: 100 px;
    opacity: 0; }
  100% {
    left: 0; } }
@keyframes text2-animation6 {
  0% {
    left: 100 px;
    opacity: 1; }
  50% {
    left: 140 px;
    opacity: 0; }
  100% {
    left: 0; } }

/*# sourceMappingURL=preloader.css.map */
